@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

:root {
    --color__primary: #293355;
    --color__link: #ba7a2d;
    --color__border: #999;
    --color__dark: #333;
    --container__max-width: 1280px;
    --font-family: 'Overpass', 'sans-serif';
    --transition-time: 0.25s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: var(--color__dark);
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    font-size: 16px;
    color: var(--color__link);
    text-decoration-line: none;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
    }
}

p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 16px;
}

h3 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 12px;
}

h5 {
    font-size: 12px;
    font-weight: 600;
}

button {
    background: #fff;
    border-radius: 0;
    border: 2px solid var(--color__link);
    color: var(--color__primary);
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all var(--transition-time) linear;

    &:focus,
    &:hover,
    &:active {
        background: var(--color__primary);
        color: #fff;
        outline: 0;
    }
}
