@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
}

:root {
    --color__dark: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

container {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 20px;
    width: 100%;
}

body {
    font-family: 'Overpass', 'sans-serif';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

a {
    font-size: 16px;
    color: var(--color__dark);

    text-decoration-line: none;
    transition: all ease 0.3s;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;
    }
}

p {
    font-size: 16px;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.inline-flex {
    color: red;
}
